<div class="leaderboard-container">

<h1>Leaderboard</h1>

  <table class="row-border" id="leaderboard">
    <thead>
      <tr>
        <th><i type="submit" class="fa fa-thumbs-o-up fa-2x"></i></th>
        <th><i type="submit" class="fa fa-thumbs-o-down fa-2x"></i></th>
        <th>Synopsis</th>

      </tr>
    </thead>

    <tbody>
      <% @movie_ideas.each do |movie_idea| %>
        <tr>
          <td><%= movie_idea.get_likes.size %></td>
          <td><%= movie_idea.get_dislikes.size %></td>
          <td><a href="/movie_ideas/<%= movie_idea.id %>"><%= movie_idea.synopsis %></a></td>

        </tr>
      <% end %>
    </tbody>
  </table>

</div>

