
<div class="container">
  <p id="notice"><%= notice %></p>

  <p class="header"><strong>Synopsis</strong></p>
  <p class="details-synopsis"><%= @movie_idea.synopsis %></p>

  <p class="header"><strong>More Information</strong></p>
  <p class="details-moreInfo"><%= @movie_idea.more_info %></p>

 <!--  <%= link_to 'Edit', edit_movie_idea_path(@movie_idea) %> | -->

  <form class="back-btn"><input type="button" value="Back" onClick="history.go(-1);return true;" id="back-btn"></form>


</div>