<div class="container">

  <%= image_tag @user.profile_pic %>

  <p><%= @user.email %>
  <p><%= @user.first_name %>
  <p><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>




</div>