
<div class="container">

  <div class="synopsis">
    <p><%= @info.synopsis %></p>
  </div>

  <div class="judgment">
    <div class="btn-group btn-group-justified">

      <div class="btn-group">
        <form action="/movie_ideas/<%= @info.id %>/dislike" method="post">
          <button type="submit" class="btn btn-default" id="nay_btn">Nay</button>
        </form>
      </div>

      <div class="btn-group">
        <a href="/movie_ideas/<%= @info.id %>" class="btn btn-default" id="readMore_btn">Read More</a>
      </div>

      <div class="btn-group">
        <form action="/movie_ideas/<%= @info.id %>/like" method="post">
          <button type="submit" class="btn btn-default" id="yay_btn">Yay</button>
        </form>
      </div>

    </div>
  </div>
</div>