/* ...
*= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
*/


@font-face {
  font-family: "Blue Highway";
  src: url("/bluehighwaybd.ttf") format("truetype");
}

body {
  /*background: url(/hiroshi.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Arial";

}


p, a {
  font-size: 20px;
}

nav, form {
  font-size: 20px;
}

a.navbar-brand {
  font-size: 50px;
  font-family: "Blue Highway"
}


div.form-group {
  padding: 8px;
  width: 250px;
}

.navbar-header {
  height: 50px;
}

.container {
  width: 1000px;
  margin-top: 5%;
}

.synopsis {
  background-color: rgba(227,227,227,0.5);
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 10%;
  padding-right: 10%;
  height: 500px;

}

.btn-group {
  width: 100%;
}

#nay_btn, #yay_btn {
  font-size: 30px;
  height: 50px;
}

#readMore_btn, #skip_btn {
  font-size: 30px;
  height: 50px;
}


.user_info {
  text-align: right;
}

.profile_ideas {
  text-align: left;

}


/*Leaderboard css*/
.leaderboard-container {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 25px;
}

td, th {
  border: solid 3px black;
  padding: 5px;
}

th, td {
  font-size: 20px;
}



p.header {
  color: #8B0000;
}

#info-synopsis {
  font-size: 35px;
}


/*Pitch your idea css*/
.pitch-container {
  width: 1000px;
  margin-top: 5%;
  margin-left: 5%;
}

#movie_idea_synopsis {
  background-color: rgba(227,227,227,0.5);
  width: 500px;
  /*height: 100px;*/
}

#movie_idea_more_info {
  background-color: rgba(227,227,227,0.5);
  width: 500px;
/*  height: 300px;*/
}



/*Details/More Info css*/
p.details-synopsis {
  font-size: 30px;
}

p.details-moreInfo {
  font-size: 30px;
}

img {
  height: 100%;
  width: 100%;
  max-height: 350px;
  max-width: 250px;
}

form.back-btn {
  margin-top: 10px;
  padding-left: 0;
  float: left;
}

#back-btn {
  width: 100%;
}

