/* ...
*= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
*/


@font-face {
  font-family: "Brown Fox";
  src: url("/Prototype.ttf") format('truetype');
}

body {
  /*background: url(/assets/background11.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Brown Fox";
  /*background-color: #342B38;*/
}

p {
  font-size: 30px;
}

nav, form {
  font-size: 20px;
}

div.form-group {
  padding: 8px;
  width: 250px;
}


.container {
  width: 600px;
}

.synopsis {
  background-color: rgba(227,227,227,0.5);
  height: 400px;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

.btn-group {
  width: 100%;
}

#nay_btn, #yay_btn {
  font-size: 30px;
  height: 50px;
}

#readMore_btn {
  font-size: 30px;
  height: 50px;
}


/*Leaderboard css*/
.leaderboard-container {
  background-color: rgba(227,227,227,0.5);
  margin-left: 10%;
  margin-right: 10%;

}

td, th {
  border: solid 3px black;
  padding: 5px;
}

th {
  font-size: 20px;
}


p.header {
  color: #8B0000;
}


/*Pitch your idea css*/
#movie_idea_synopsis {
  background-color: rgba(227,227,227,0.5);
  width: 500px;
  /*height: 100px;*/
}

#movie_idea_more_info {
  background-color: rgba(227,227,227,0.5);
  width: 500px;
/*  height: 300px;*/
}

p.under-synopsis {
  font-size: 15px;
  text-align: left;
}

/*Details/More Info css*/
p.details-synopsis {
  font-size: 20px;
}

p.details-moreInfo {
  font-size: 20px;
}

form.back-btn {
  margin-top: 10px;
  padding-left: 0;
  float: left;
}

#back-btn {
  width: 100%;
}

